{% extends 'base.html' %} {% block javascript %}
<script>
  $('#id_username').keyup(function () {
    var form = $(this).closest("form");
    var msg = document.getElementById('message');
    $.ajax({
      url: form.attr("data-validate-username-url"),
      data: form.serialize(),
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          msg.innerHTML = data.error_message;
        } else {
          msg.innerHTML = '';
        }
      },
    });
  });
</script>
{% endblock %} {% block content %}
<div id="message"></div>

<form method="post" data-validate-username-url="{% url 'validate_username' %}">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Sign up</button>
</form>
{% endblock %}
